<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binning_code</key>
	<integer>0</integer>
	<key>binning_description</key>
	<string>1x1</string>
	<key>cascaded_for_calibration</key>
	<false/>
	<key>cascaded_from</key>
	<integer>4</integer>
	<key>crop_rect</key>
	<string>{{79, 137}, {298, 229}}</string>
	<key>crosshairs</key>
	<string>{-1, -1}</string>
	<key>drift_offset</key>
	<string>{6, 6}</string>
	<key>est_framerate</key>
	<real>79.82293356200347</real>
	<key>experimenter_name</key>
	<string>Jonny</string>
	<key>exposure_in_ms</key>
	<real>0.29999999999999999</real>
	<key>exposure_on_screen</key>
	<real>1</real>
	<key>frame_number</key>
	<integer>150605</integer>
	<key>image_rect_on_sensor</key>
	<string>{{282, 128}, {298, 229}}</string>
	<key>image_rect_universal_qi_pixels</key>
	<string>{{282, 137}, {298, 229}}</string>
	<key>in_sync</key>
	<false/>
	<key>laserMapping</key>
	<integer>0</integer>
	<key>laser_state</key>
	<integer>3</integer>
	<key>manual_framerate</key>
	<real>80</real>
	<key>model_string</key>
	<string>Allied Vision Technologies GS650</string>
	<key>piv</key>
	<dict>
		<key>pivGapBeforeExposure1End</key>
		<real>0.10000000000000001</real>
		<key>pivInterPulseTime</key>
		<real>2</real>
		<key>pivLaserPulseTime</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>pixels_per_um</key>
	<real>1.3513513513513513</real>
	<key>program_info</key>
	<dict>
		<key>Compiler version</key>
		<string>4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.51)</string>
		<key>Config file</key>
		<string>Edinburgh spim config v2</string>
		<key>SDK version</key>
		<string>macosx10.9</string>
		<key>Version</key>
		<string>v1.1.0-1-g37e34fc-dirty</string>
	</dict>
	<key>readout_speed</key>
	<integer>40000000</integer>
	<key>registration_offset</key>
	<string>{0, 0}</string>
	<key>scale_bar_width_in_um</key>
	<real>100</real>
	<key>sensor_bounds</key>
	<string>{659, 494}</string>
	<key>serial_number</key>
	<string>00025df0</string>
	<key>specimen_description</key>
	<string>Rest every 3, memory 8. flk1:mCherry</string>
	<key>stage_positions</key>
	<dict>
		<key>last_known_f</key>
		<real>2489.2786114742489</real>
		<key>last_known_f_time</key>
		<real>1903.8868065649986</real>
		<key>last_known_t</key>
		<real>0.0</real>
		<key>last_known_t_time</key>
		<real>0.0</real>
		<key>last_known_x</key>
		<real>0.0</real>
		<key>last_known_x_time</key>
		<real>0.0</real>
		<key>last_known_y</key>
		<real>0.0</real>
		<key>last_known_y_time</key>
		<real>0.0</real>
		<key>last_known_z</key>
		<real>34.524536186757089</real>
		<key>last_known_z_time</key>
		<real>1903.9347778689989</real>
	</dict>
	<key>sync_info</key>
	<dict>
		<key>deliberately_fired</key>
		<false/>
		<key>delta_phase</key>
		<real>0.16227878777863225</real>
		<key>diffs</key>
		<array>
			<real>798360</real>
			<real>814960</real>
			<real>838800</real>
			<real>852218</real>
			<real>855625</real>
			<real>866288</real>
			<real>875735</real>
			<real>878190</real>
			<real>880787</real>
			<real>892583</real>
			<real>893872</real>
			<real>895606</real>
			<real>902611</real>
			<real>895783</real>
			<real>893676</real>
			<real>881682</real>
			<real>875604</real>
			<real>868121</real>
			<real>854760</real>
			<real>849928</real>
			<real>855128</real>
			<real>868297</real>
			<real>867841</real>
			<real>875788</real>
			<real>880684</real>
			<real>887236</real>
			<real>891015</real>
			<real>902401</real>
			<real>907542</real>
			<real>903371</real>
			<real>908466</real>
			<real>910770</real>
			<real>907531</real>
			<real>909897</real>
			<real>902714</real>
			<real>897852</real>
			<real>888328</real>
			<real>879252</real>
			<real>854060</real>
			<real>827941</real>
			<real>759107</real>
			<real>702053</real>
			<real>759190</real>
			<real>817658</real>
			<real>832965</real>
			<real>842753</real>
			<real>852613</real>
		</array>
		<key>intended_fire_time</key>
		<real>0.0</real>
		<key>phase</key>
		<real>4975.7774313183836</real>
		<key>pixel_value_sum</key>
		<real>2281988</real>
		<key>ref_pos_incl_padding</key>
		<real>40.999273675551741</real>
		<key>ref_pos_without_padding</key>
		<real>38.999273675551741</real>
		<key>reference_period</key>
		<real>42.410156325856882</real>
		<key>sync_analysis_performed</key>
		<true/>
		<key>sync_settings</key>
		<dict>
			<key>analysis_phase</key>
			<integer>4</integer>
			<key>barrier_frame</key>
			<real>4.9949327669365964</real>
			<key>drift_insensitive</key>
			<true/>
			<key>extrapolation_factor</key>
			<real>1.5</real>
			<key>keepDoingPeriodForever</key>
			<false/>
			<key>maxReceivedFramesToStore</key>
			<integer>260</integer>
			<key>max_frames_for_fit</key>
			<integer>32</integer>
			<key>min_frames_for_fit</key>
			<integer>3</integer>
			<key>prediction_latency_ms</key>
			<real>10</real>
			<key>reference_frame</key>
			<real>20.994110773833857</real>
			<key>self_triggered</key>
			<false/>
			<key>shouldFillInPhaseInMetadata</key>
			<false/>
			<key>single_trigger_only</key>
			<false/>
		</dict>
		<key>trigger_cycle</key>
		<integer>0</integer>
		<key>trigger_mpc</key>
		<integer>0</integer>
	</dict>
	<key>time_processing_started</key>
	<real>1903.974207094001</real>
	<key>time_received</key>
	<real>1903.9741241070005</real>
	<key>timebase_start</key>
	<date>2017-02-09T18:17:33Z</date>
	<key>timebase_start_uptime</key>
	<real>28409.208818383002</real>
	<key>timestamp</key>
	<real>3332.4774215314287</real>
	<key>trigger_delay_ms</key>
	<real>0.0</real>
	<key>triggering</key>
	<dict>
		<key>box_type</key>
		<string>XMOS</string>
		<key>pianola_program</key>
		<integer>2</integer>
		<key>pianola_program_description</key>
		<string>One trigger</string>
		<key>sequence</key>
		<array>
			<string>0x00 0.000003</string>
			<string>0x02 0.005000</string>
			<string>0x00 0.000003</string>
			<string>0x00 0.000003</string>
		</array>
	</dict>
	<key>user_name</key>
	<string>Brightfield - Prosilica</string>
	<key>was_flipped_h</key>
	<true/>
	<key>was_flipped_v</key>
	<true/>
	<key>z_scan</key>
	<dict>
		<key>approachSpeed</key>
		<real>2</real>
		<key>est_z_spacing</key>
		<real>+infinity</real>
		<key>repeat_info</key>
		<dict>
			<key>repeat_counter</key>
			<integer>5</integer>
			<key>repeat_every</key>
			<real>150</real>
			<key>repeat_times</key>
			<integer>500</integer>
		</dict>
		<key>repeating</key>
		<true/>
		<key>resetSpeed</key>
		<real>20</real>
		<key>speed1</key>
		<real>2</real>
		<key>startZ</key>
		<real>-94</real>
		<key>stepwise</key>
		<false/>
		<key>stepwise_definitely_stationary</key>
		<false/>
		<key>stepwise_info</key>
		<dict/>
		<key>tgtZ1</key>
		<real>36</real>
	</dict>
</dict>
</plist>
