<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binning_code</key>
	<integer>0</integer>
	<key>binning_description</key>
	<string>1x1</string>
	<key>cascaded_for_calibration</key>
	<false/>
	<key>cascaded_from</key>
	<integer>4</integer>
	<key>crop_rect</key>
	<string>{{79, 137}, {298, 229}}</string>
	<key>crosshairs</key>
	<string>{-1, -1}</string>
	<key>drift_offset</key>
	<string>{-2, -5}</string>
	<key>est_framerate</key>
	<real>80.30241891736955</real>
	<key>experimenter_name</key>
	<string>Jonny</string>
	<key>exposure_in_ms</key>
	<real>0.29999999999999999</real>
	<key>exposure_on_screen</key>
	<real>1</real>
	<key>frame_number</key>
	<integer>121434</integer>
	<key>image_rect_on_sensor</key>
	<string>{{282, 128}, {298, 229}}</string>
	<key>image_rect_universal_qi_pixels</key>
	<string>{{282, 137}, {298, 229}}</string>
	<key>in_sync</key>
	<false/>
	<key>laserMapping</key>
	<integer>0</integer>
	<key>laser_state</key>
	<integer>3</integer>
	<key>manual_framerate</key>
	<real>80</real>
	<key>model_string</key>
	<string>Allied Vision Technologies GS650</string>
	<key>piv</key>
	<dict>
		<key>pivGapBeforeExposure1End</key>
		<real>0.10000000000000001</real>
		<key>pivInterPulseTime</key>
		<real>2</real>
		<key>pivLaserPulseTime</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>pixels_per_um</key>
	<real>1.3513513513513513</real>
	<key>program_info</key>
	<dict>
		<key>Compiler version</key>
		<string>4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.51)</string>
		<key>Config file</key>
		<string>Edinburgh spim config v2</string>
		<key>SDK version</key>
		<string>macosx10.9</string>
		<key>Version</key>
		<string>v1.1.0-1-g37e34fc-dirty</string>
	</dict>
	<key>readout_speed</key>
	<integer>40000000</integer>
	<key>registration_offset</key>
	<string>{0, 0}</string>
	<key>scale_bar_width_in_um</key>
	<real>100</real>
	<key>sensor_bounds</key>
	<string>{659, 494}</string>
	<key>serial_number</key>
	<string>00025df0</string>
	<key>specimen_description</key>
	<string>Rest every 3, memory 8. flk1:mCherry</string>
	<key>stage_positions</key>
	<dict>
		<key>last_known_f</key>
		<real>-7869.0305803992151</real>
		<key>last_known_f_time</key>
		<real>1539.3222683489985</real>
		<key>last_known_t</key>
		<real>0.0</real>
		<key>last_known_t_time</key>
		<real>0.0</real>
		<key>last_known_x</key>
		<real>0.0</real>
		<key>last_known_x_time</key>
		<real>0.0</real>
		<key>last_known_y</key>
		<real>0.0</real>
		<key>last_known_y_time</key>
		<real>0.0</real>
		<key>last_known_z</key>
		<real>-93.349456932967911</real>
		<key>last_known_z_time</key>
		<real>1539.2743674330013</real>
	</dict>
	<key>sync_info</key>
	<dict>
		<key>deliberately_fired</key>
		<false/>
		<key>delta_phase</key>
		<real>0.184722041768282</real>
		<key>diffs</key>
		<array>
			<real>862580</real>
			<real>871844</real>
			<real>869650</real>
			<real>862344</real>
			<real>851964</real>
			<real>845366</real>
			<real>837297</real>
			<real>842159</real>
			<real>846288</real>
			<real>836134</real>
			<real>832099</real>
			<real>845861</real>
			<real>838644</real>
			<real>837887</real>
			<real>840696</real>
			<real>844397</real>
			<real>832777</real>
			<real>828277</real>
			<real>818672</real>
			<real>817940</real>
			<real>803229</real>
			<real>782695</real>
			<real>751901</real>
			<real>728118</real>
			<real>704132</real>
			<real>658060</real>
			<real>607950</real>
			<real>641812</real>
			<real>683197</real>
			<real>715694</real>
			<real>742304</real>
			<real>757953</real>
			<real>776668</real>
			<real>788883</real>
			<real>787538</real>
			<real>792434</real>
			<real>794471</real>
			<real>810006</real>
			<real>804357</real>
			<real>812346</real>
			<real>848357</real>
			<real>851521</real>
			<real>867511</real>
			<real>885262</real>
			<real>891097</real>
			<real>869843</real>
			<real>868833</real>
		</array>
		<key>intended_fire_time</key>
		<real>0.0</real>
		<key>phase</key>
		<real>788.97785070448242</real>
		<key>pixel_value_sum</key>
		<real>2175181</real>
		<key>ref_pos_incl_padding</key>
		<real>26.162123328676909</real>
		<key>ref_pos_without_padding</key>
		<real>24.162123328676909</real>
		<key>reference_period</key>
		<real>42.410156325856882</real>
		<key>sync_analysis_performed</key>
		<true/>
		<key>sync_settings</key>
		<dict>
			<key>analysis_phase</key>
			<integer>4</integer>
			<key>barrier_frame</key>
			<real>4.9949327669365964</real>
			<key>drift_insensitive</key>
			<true/>
			<key>extrapolation_factor</key>
			<real>1.5</real>
			<key>keepDoingPeriodForever</key>
			<false/>
			<key>maxReceivedFramesToStore</key>
			<integer>260</integer>
			<key>max_frames_for_fit</key>
			<integer>32</integer>
			<key>min_frames_for_fit</key>
			<integer>3</integer>
			<key>prediction_latency_ms</key>
			<real>10</real>
			<key>reference_frame</key>
			<real>20.994110773833857</real>
			<key>self_triggered</key>
			<false/>
			<key>shouldFillInPhaseInMetadata</key>
			<false/>
			<key>single_trigger_only</key>
			<false/>
		</dict>
		<key>trigger_cycle</key>
		<integer>0</integer>
		<key>trigger_mpc</key>
		<integer>0</integer>
	</dict>
	<key>time_processing_started</key>
	<real>1539.3223231909978</real>
	<key>time_received</key>
	<real>1539.3222626099996</real>
	<key>timebase_start</key>
	<date>2017-02-09T18:17:33Z</date>
	<key>timebase_start_uptime</key>
	<real>28409.208818383002</real>
	<key>timestamp</key>
	<real>2967.8387213531428</real>
	<key>trigger_delay_ms</key>
	<real>0.0</real>
	<key>triggering</key>
	<dict>
		<key>box_type</key>
		<string>XMOS</string>
		<key>pianola_program</key>
		<integer>2</integer>
		<key>pianola_program_description</key>
		<string>One trigger</string>
		<key>sequence</key>
		<array>
			<string>0x00 0.000003</string>
			<string>0x02 0.005000</string>
			<string>0x00 0.000003</string>
			<string>0x00 0.000003</string>
		</array>
	</dict>
	<key>user_name</key>
	<string>Brightfield - Prosilica</string>
	<key>was_flipped_h</key>
	<true/>
	<key>was_flipped_v</key>
	<true/>
	<key>z_scan</key>
	<dict>
		<key>approachSpeed</key>
		<real>2</real>
		<key>est_z_spacing</key>
		<real>+infinity</real>
		<key>repeat_info</key>
		<dict>
			<key>repeat_counter</key>
			<integer>3</integer>
			<key>repeat_every</key>
			<real>150</real>
			<key>repeat_times</key>
			<integer>500</integer>
		</dict>
		<key>repeating</key>
		<true/>
		<key>resetSpeed</key>
		<real>20</real>
		<key>speed1</key>
		<real>2</real>
		<key>startZ</key>
		<real>-94</real>
		<key>stepwise</key>
		<false/>
		<key>stepwise_definitely_stationary</key>
		<false/>
		<key>stepwise_info</key>
		<dict/>
		<key>tgtZ1</key>
		<real>36</real>
	</dict>
</dict>
</plist>
